body{
  background-image: url(assets/lightning.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;

  /* OPTIONAL - to center vertically */
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  
}
.clock-container{
  backdrop-filter: blur(6px);
  width: 100vw; /*<-- takes up all horizontal space, vw="view width" */
  padding: 10px 0;
}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.8);
}